.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    font-family: Silkscreen;
}

.slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.text {
    color: white;
    text-shadow: 0 3px rgb(0, 0, 0);
    opacity: 50%;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: white;
    text-shadow: 0 3px rgb(0, 0, 0);
    opacity: 50%;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 0.1s;
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.text-features {
    font-family: SIlkscreen;
    color: white;
    text-shadow: 0 6px rgba(0, 0, 0);
    opacity: 50%;
    text-align: center;
}