.home-button {
    border: none;
    cursor: pointer;
    transition: width 1s;
    transform: scaleX(15) scaleY(30);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
}
.home-button:hover {
    transform: scaleX(16) scaleY(32);
}
.wrapper{
    position: absolute;
    z-index: 2;
    transform: translateY(35px) translateX(100px);
}

.header-bg{
    height: 100px;
    z-index: 1;
    background-color: rgb(8, 8, 8);
}
.line {
    z-index: 3;
    background-color: white;
    width: 3px;
    height: 75px;
    transform: translateX(165px) translateY(-70px);
    opacity: 50%;
}

.desc-header {
    color: white; 
    font-size: 17px;
    width: 800px;
    transform: translateX(175px) translateY(-160px);
    line-height: 35px;
    opacity: 50%;
}