.home-button {
    border: none;
    cursor: pointer;
    transition: width 1s;
    transform: scaleX(20) scaleY(40);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
}
.home-button:hover {
    transform: scaleX(22) scaleY(44);
}
.wrapper{
    position: relative;
    z-index: 2;
    text-align: center;
    transform: translateY(40px);
}