.home-button {
    margin: auto;
    display: block;
    border: none;
    cursor: pointer;
    transition: width 1s;
    transform: scaleX(30) scaleY(60);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
    background-size: 100% 100%;
}
.home-button:hover {
    transform: scaleX(32) scaleY(64);
}
.wrapper{
    text-align: center;
    transform: translateY(55px);
}