.background-main{
    background-image: linear-gradient(to bottom, rgb(32, 32, 32), black);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
