.background-main{
    padding: 0;
    margin: 0;
    background-color: rgb(22, 22, 22);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
